<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=name.charAt(0).toUpperCase() + name.slice(1);%></title>
</head>

<body>
  <h1><%=name.charAt(0).toUpperCase() + name.slice(1);%></h1>
  <%- include('./partials/nav') %>



  <ul>
    <%  for(element of menu){%>
      <li>
        <p><b><%=element.name%></b></p>
        <p>Rating: <%=element.rating%>/5 Price: <%=element.rating%> </p>
        <p><%=element.details%></p>
      </li>
      <%} %>
    
  </ul>
  
    
  
 
 



</body>

</html>